body {
  background-color:lightpink;
  
}
.container {
  background-color: rgb(253, 116, 185);
  margin-left: 20px;
  margin-top: 40px;
  width: 50%;
  height: 50%; 
  font: 1rem; 
}

.responsive {
  height: auto;
  max-width: 100%;
  margin-left: 20px;
}

p {
  margin-left: 20px;
  font-size: 22px;
  font: 1rem; 
  
  
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
#cats, #cat-fact {
  font-family: Arial, sans-serif;
  margin-left: 70px;
} 

#show-fact { 
  text-align: center; 
  margin-left: 70px;
} 

.container img { 
  height: auto;
  
  
} 

.rachel { 
  float: left;
  margin: 2px; 
 
  
} 

.links { 
  font-size: 20px; 
} 
 
.nav-link { 
  color:pink; 
  font-size: 20px;
} 

.navbar { 
  background-color: black;
} 

.portfolio { 
  color: black;
}
.name { 
  background-color:pink; 
  color: black;
}